
h1{
font-size: $title1;
}

h2{
font-size: $title2;
}

h3{
 font-size: $title3;
 }

h4{
  font-size: $title4;
 }

p, button{
    font-size: $element;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}


