
// FONT SIZE
$title1: 2.2em;
$title2: 2em;
$title3: 1.8em;
$title4: 1.5em;
$element: 0.9em;

//MARGINE
$mt3:30px;
$mt: 10px;
$mt1: 5px;

//PADDING
$p:30px;


//BORDER
$border: 1px solid ;
$radius: 16px